$clr: #5f4aeb;

.foo {
  color: lighten($clr, 50%);
}

.bar {
  color: darken($clr, 45%);
}

.baz {
  color: saturate($clr, 30%);
}

.far {
  color: desaturate($clr, 25%);
}

.boo {
  color: compliment($clr);
}

.faz {
  color: invert($clr);
}
